# tomcat
server:
  port: 28083


spring:
  profiles:
    # 激活环境
    active: dev

  # 数据源
  datasource:
    name: myblog
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${mysql.username}
    password: ${mysql.password}
  servlet:
    multipart:
      max-file-size: 10MB

# x-file-storage
dromara:
  x-file-storage: #文件存储配置
    default-platform: aliyun-oss-1 #默认使用的存储平台
    thumbnail-suffix: ".min.jpg" #缩略图后缀，例如【.min.jpg】【.png】
    #对应平台的配置写在这里，注意缩进要对齐
    aliyun-oss:
      - platform: aliyun-oss-1 # 存储平台标识
        enable-storage: true  # 启用存储
        access-key: ${ali-yun-oss.access-key}
        secret-key: ${ali-yun-oss.secret-key}
        end-point: ${ali-yun-oss.end-point}
        bucket-name: ${ali-yun-oss.bucket-name}
        domain: ${ali-yun-oss.domain} # 访问域名，注意“/”结尾，例如：https://abc.oss-cn-shanghai.aliyuncs.com/

# 日志配置
logging:
  file:
    name: app.log  # 会在项目根目录下生成 logs/app.log
    path: logs
  level:
    root: warn # 框架日志级别
    com.my.blog: info # 业务日志级别
  pattern:
    # 控制台日志格式（开发用，更简洁）
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] - %msg%n"
    # 文件日志格式（保留完整日期时间）
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] - %msg%n"

# JWT
jwt:
  secret: myblog
  # 过期时间 1天 单位ms
  expire: 86400000

# 安全配置
security:
  include-path:
    - /admin/**
  exclude-path:
    - /admin/user/login
    - /admin/user/captcha

# mybatis-plus
mybatis-plus:
  global-config:
    db-config:
      # id策略
      id-type: auto
  # 实体包
  type-aliases-package: com.my.blog.pojo.po
