# tomcat
server:
  port: 28083


spring:
  profiles:
    # 激活环境
    active: dev

  # redis缓存
  redis:
    host: ${redis.host}
    port: ${redis.port}
    database: ${redis.database}
  # 数据源
  datasource:
    name: myblog
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${mysql.username}
    password: ${mysql.password}
    hikari:
      auto-commit: true
      idle-timeout: 30000
      pool-name: MyBlog
      max-lifetime: 30000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  servlet:
    multipart:
      max-file-size: 10MB

# x-file-storage
dromara:
  x-file-storage: #文件存储配置
    default-platform: aliyun-oss-1 #默认使用的存储平台
    thumbnail-suffix: ".min.jpg" #缩略图后缀，例如【.min.jpg】【.png】
    #对应平台的配置写在这里，注意缩进要对齐
    aliyun-oss:
      - platform: aliyun-oss-1 # 存储平台标识
        enable-storage: true  # 启用存储
        access-key: ${ali-yun-oss.access-key}
        secret-key: ${ali-yun-oss.secret-key}
        end-point: ${ali-yun-oss.end-point}
        bucket-name: ${ali-yun-oss.bucket-name}
        domain: ${ali-yun-oss.domain} # 访问域名，注意“/”结尾，例如：https://abc.oss-cn-shanghai.aliyuncs.com/

# JWT
jwt:
  secret: myblog
  # 过期时间 1天 单位ms
  expire: 86400000

# 安全配置
security:
  include-path:
    - /admin/**
  exclude-path:
    - /admin/user/login
    - /admin/user/captcha

# mybatis-plus
mybatis-plus:
  global-config:
    db-config:
      # id策略
      id-type: auto
  # 实体包
  type-aliases-package: com.my.blog.pojo.po
