<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.server.mapper.ArticleMapper">

    <select id="trend7Day" resultType="com.my.blog.pojo.vo.admin.TrendChartData">
        select count(0) count, date(create_time) date
        from tb_article
        where create_time>= date_sub(now(),interval 7 day )
        group by date(create_time)
    </select>
    <select id="categoryArticleRatio" resultType="com.my.blog.pojo.vo.admin.RatioChartData">
        select count(0) value, category.name
        from tb_article article
                 join tb_category category on article.category_id = category.id
        group by article.category_id
        order by value desc
        limit 10
    </select>
</mapper>